<div class="detailed-container">
  <div class="detailed-header">
    <h1>
      {{@movie.original_title}}
      ({{this.year}})
    </h1>
  </div>
  <div class="detailed-content">
    <div class="detailed-content__poster">
      <img src="{{this.poster}}" />
    </div>
    <div class="movie-info-list">
      <ul>
        <li class="movie-info">
          Original title:
          <span class="movie-info__content">
            {{@movie.original_title}}
          </span>
        </li>
        <li class="movie-info">
          Genres:
          <span class="movie-info__content">
            {{@movie.genre_ids}}
          </span>
        </li>
        <li class="movie-info">
          Adult:
          <span class="movie-info__content">
            {{@movie.adult}}
          </span>
        </li>
        <li class="movie-info">
          Release date:
          <span class="movie-info__content">
            {{@movie.release_date}}
          </span>
        </li>
        <li class="movie-info">
          Vote average:
          <span class="movie-info__content">
            {{@movie.vote_average}}
            (
            {{@movie.vote_count}}
            )
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="movie-overview">
    <span class="movie-overview__content">
      {{@movie.overview}}
    </span>
  </div>
</div>